body {
  background: linear-gradient(180deg, #3333a3 0.4%, #121212 33.4%);
}

.card-bg {
  background-color: rgba(255, 255, 255, 0.04) !important;
}

::-webkit-scrollbar {
  display: none !important;
}

.PlayerRSWP {
  background: black !important;
}

section#playlist{
    background: linear-gradient(180deg, #DEF628 5.09%, #121212 43.28%);
    
}